{% extends "base.html" %} 
{% block page_body%} 


<div class="row">
  <div class="col-3"></div>
  <div class="col-7"><h2>Buy</h2><br>
  <div class="col-7">

    <form method="POST">
      {{ form.csrf_token }}
      
      <div class="mb-3">
          <label for="currency" class="form-label">Currency</label>
          {{ form.currency(class_="form-control") }}
          {{ show_validation_results(form.currency) }}
      </div>
  
      <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          {{ form.amount(class_="form-control", min="1", type="number") }}
          {{ show_validation_results(form.amount) }}
      </div>
  
      <button class="btn btn-primary" type="submit">Buy</button>
  </form>
     

  {% endblock %} 

