{% extends "base.html" %} 
{% block page_body%} 


<div class = "container_index">
    
  <h2 id = 'About the online cantor'>About the Cantor Flask Web Application.</h2>
  <br>
  <p><b>Welcome to the currency exchange platform! Our application allows you to simulate buying and selling currencies effortlessly. 
    Upon registration, users receive 10,000 PLN to explore the functionality of the platform. 
    Main content (buy, sell, history) are allowed for the users who are logged in. </b></p>
  
  <p><b>Application is simulating the transaction with connection to NBP Web API.
     Transaction History: You can check your past transactions for better financial management in history template.</b></p>
  

</div>


  {% endblock %} 