{% macro show_validation_results(field) %} 
{% for error in field.errors %} 
<div class="alert alert-warning alert-dismissible fade show" role="alert">
   <strong>{{error}}</strong> 
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor  %}   
</ul>
{% endmacro %} 
{% macro show_flash() %}
<ul>
   {% for message in get_flashed_messages() %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endfor  %}   
</ul>
{% endmacro %}