{% extends "base.html" %} 
{% block page_body%} 

{{ show_flash( )}}

<div class="row">
  <div class="col-3"></div>
  <div class="col-7"><h2>Regsiter</h2><br>
  <div class="col-7">
  
      
  <form method="POST">
      {{ form.csrf_token }}
      <div class="mb-3">
        <label for="inlineFormInputName" class="form-label">{{ form.name.label }}</label>
        {{ form.name(class_="form-control") }} <br>
        {{ show_validation_results(form.name) }}
      </div>
  
      <div class="mb-3">
        <label for="inlineFormInputGroupUsername" class="form-label">{{ form.password.label }}</label>
        {{ form.password(class_="form-control") }} <br>
        {{ show_validation_results(form.password) }}

      </div>
      <div class="mb-3">
        <label for="inlineFormInputGroupUsername" class="form-label">{{ form.re_password.label }}</label>
        {{ form.re_password(class_="form-control") }} <br>
        {{ show_validation_results(form.re_password) }}

      </div>

      <div class="mb-3">
        <label for="inlineFormInputGroupUsername" class="form-label">{{ form.email.label }}</label>
        {{ form.email(class_="form-control") }} <br>
        {{ show_validation_results(form.email) }}

      </div>

   
      <button type="submit" class="btn btn-primary">Register</button>
   </div> 
  </form>
  </div>
  </div>
  <div class="col-1"></div>
  </div>
  {% endblock %}